body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-image: url("../images/kylebanner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bannertext h2 {
	font-family: 'Merriweather', serif;
	font-size: 32px;
}

.bannertext h1 {
	margin-top: 0px;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 65px;
}

#textContainer {
	padding-top: 200px;
	color: white;
	text-align: center;
	margin: auto 0;
}

#hours {
	text-transform: uppercase;
}

.storehours h2 {
	display: inline-block;
	margin: 12px;
	font-size: 16px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}

.btn {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
	margin: 0px;
	background-color: transparent;
	text-decoration: underline;
}

#btn2 {
    background-color: transparent;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 8px 40px;
    margin-top: 15px;
    border-radius: 5px;
}


/* iPad Pro */
@media (max-width: 1024px) {
	#textContainer {
		padding-top: 550px;
	}
}
@media only screen and (orientation: landscape) {
	#textContainer {
		padding-top: 400px;
	}
}

/* iPad */
@media (max-width: 768px) {
	#textContainer {
		padding-top: 410px;
	}
}
@media only screen and (orientation: landscape) {
	#textContainer {
		padding-top: 300px;
	}
}

/* iPhoneX */
@media(max-width: 375px){
	#textContainer {
		padding-top: 350px;
	}
	.bannertext h1 {
		font-size: 36px;
	}
	.bannertext h2{
		font-size: 32px;
	}
	.storehours h2 {
		padding: 5px;
	}
	#days .btn{
		margin: 3px;
	}
	#btn2 {
		margin-top: 20px;
	}
}

/* iPhone 6/7/8 Plus */
@media(max-width: 414px){
	#textContainer {
		padding-top: 200px;
	}
	.bannertext h1 {
		font-size: 30px;
	}
	.bannertext h2{
		font-size: 28px;
	}
	.storehours h2 {
		padding: 10px;
	}
	#days .btn {
		padding: 5px;
	}
	#btn2 {
		margin-top: 25px;
	}
}

/* iPhone 6/7/8 */
@media(max-width: 375px){
	#textContainer {
		padding-top: 170px;
	}
	.bannertext h1 {
		font-size: 28px;
	}
	.bannertext h2{
		font-size: 25px;
	}
	.storehours h2 {
		padding: 3px;
	}
	#btn2 {
		margin-top: 25px;
	}
}

/* iPhone 5/SE */
@media(max-width: 320px){
	#textContainer {
		padding-top: 150px;
	}
	.bannertext h1 {
		font-size: 25px;
	}
	.bannertext h2{
		font-size: 22px;
	}
	.storehours h2 {
		padding: 5px;
	}
	#days .btn{
		padding: 3px;
	}
	#btn2 {
		margin-top: 25px;
	}
}